In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import tree
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

tree_depth = 10

# Let's import data from the Data folder - MB
train_set = pd.read_csv('Data/train.csv')
test_set = pd.read_csv('Data/test.csv')

train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
def data_prep(set):
    set = set.drop(columns=['Name','Ticket', 'Fare', 'Cabin', 'PassengerId'])
    set = set.dropna()
    set['Sex'] = set['Sex'].replace('male', 1)
    set['Sex'] = set['Sex'].replace('female', 0)
    set['Embarked'] = set['Embarked'].replace('C', 0)
    set['Embarked'] = set['Embarked'].replace('S', 1)
    set['Embarked'] = set['Embarked'].replace('Q', 2)
    set['Age'] = set['Age'].astype(np.int64)
    return set

def data_prep_family_drop(set):
    set = set.drop(columns=['SibSp','SibSp'])
    return set

In [3]:
train_set = data_prep(train_set)
train_set

     Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
0           0       3    1   22      1      0         1
1           1       1    0   38      1      0         0
2           1       3    0   26      0      0         1
3           1       1    0   35      1      0         1
4           0       3    1   35      0      0         1
..        ...     ...  ...  ...    ...    ...       ...
885         0       3    0   39      0      5         2
886         0       2    1   27      0      0         1
887         1       1    0   19      0      0         1
889         1       1    1   26      0      0         0
890         0       3    1   32      0      0         2

[712 rows x 7 columns]

In [4]:
test_set = data_prep(test_set)
test_set

     Pclass  Sex  Age  SibSp  Parch  Embarked
0         3    1   34      0      0         2
1         3    0   47      1      0         1
2         2    1   62      0      0         2
3         3    1   27      0      0         1
4         3    0   22      1      1         1
..      ...  ...  ...    ...    ...       ...
409       3    0    3      1      1         1
411       1    0   37      1      0         2
412       3    0   28      0      0         1
414       1    0   39      0      0         0
415       3    1   38      0      0         1

[332 rows x 6 columns]

In [5]:
train_set_survivors = train_set['Survived']
train_set = train_set.drop(columns=['Survived'])
train_set

     Pclass  Sex  Age  SibSp  Parch  Embarked
0         3    1   22      1      0         1
1         1    0   38      1      0         0
2         3    0   26      0      0         1
3         1    0   35      1      0         1
4         3    1   35      0      0         1
..      ...  ...  ...    ...    ...       ...
885       3    0   39      0      5         2
886       2    1   27      0      0         1
887       1    0   19      0      0         1
889       1    1   26      0      0         0
890       3    1   32      0      0         2

[712 rows x 6 columns]

In [6]:
# Big X, low y - convention, Decision Tree
X_train, X_test, y_train, y_test = train_test_split(train_set, train_set_survivors, test_size=0.25, random_state=7)
train_tree = tree.DecisionTreeClassifier(max_depth=tree_depth)
train_tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=10)

In [7]:
train_tree.predict(test_set)

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0], dtype=int64)

In [8]:
y_pred = train_tree.predict(X_test)
print(precision_recall_fscore_support(y_test, y_pred, average='binary'))

(0.7076923076923077, 0.6764705882352942, 0.6917293233082707, None)

In [9]:
print(confusion_matrix(y_test,y_pred))

[[91 19]
 [22 46]]

In [10]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.83      0.82       110
           1       0.71      0.68      0.69        68

    accuracy                           0.77       178
   macro avg       0.76      0.75      0.75       178
weighted avg       0.77      0.77      0.77       178

In [11]:
Decision_tree_falily = accuracy_score(y_test, y_pred)
print(accuracy_score(y_test, y_pred))

0.7696629213483146

In [12]:
#Random Forest

In [13]:
train_forest = RandomForestClassifier(n_estimators=10, max_depth=tree_depth)
train_forest.fit(X_train, y_train.values.ravel())
train_forest.predict(test_set)

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0], dtype=int64)

In [14]:
y_pred = train_forest.predict(X_test)
print(precision_recall_fscore_support(y_test, y_pred, average='binary'))

(0.7096774193548387, 0.6470588235294118, 0.6769230769230768, None)

In [15]:
print(confusion_matrix(y_test,y_pred))

[[92 18]
 [24 44]]

In [16]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.84      0.81       110
           1       0.71      0.65      0.68        68

    accuracy                           0.76       178
   macro avg       0.75      0.74      0.75       178
weighted avg       0.76      0.76      0.76       178

In [17]:
print(accuracy_score(y_test, y_pred))

0.7640449438202247

In [18]:
#Test with no family data, Decision Tree

In [19]:
train_set = data_prep_family_drop(train_set)
train_set

     Pclass  Sex  Age  Parch  Embarked
0         3    1   22      0         1
1         1    0   38      0         0
2         3    0   26      0         1
3         1    0   35      0         1
4         3    1   35      0         1
..      ...  ...  ...    ...       ...
885       3    0   39      5         2
886       2    1   27      0         1
887       1    0   19      0         1
889       1    1   26      0         0
890       3    1   32      0         2

[712 rows x 5 columns]

In [20]:
test_set = data_prep_family_drop(test_set)
test_set

     Pclass  Sex  Age  Parch  Embarked
0         3    1   34      0         2
1         3    0   47      0         1
2         2    1   62      0         2
3         3    1   27      0         1
4         3    0   22      1         1
..      ...  ...  ...    ...       ...
409       3    0    3      1         1
411       1    0   37      0         2
412       3    0   28      0         1
414       1    0   39      0         0
415       3    1   38      0         1

[332 rows x 5 columns]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(train_set, train_set_survivors, test_size=0.25, random_state=7)
train_tree = tree.DecisionTreeClassifier(max_depth=tree_depth)
train_tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=10)

In [22]:
train_tree.predict(test_set)

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0], dtype=int64)

In [23]:
y_pred = train_tree.predict(X_test)
print(precision_recall_fscore_support(y_test, y_pred, average='binary'))

(0.703125, 0.6617647058823529, 0.6818181818181819, None)

In [24]:
print(confusion_matrix(y_test,y_pred))

[[91 19]
 [23 45]]

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.83      0.81       110
           1       0.70      0.66      0.68        68

    accuracy                           0.76       178
   macro avg       0.75      0.74      0.75       178
weighted avg       0.76      0.76      0.76       178

In [26]:
print(accuracy_score(y_test, y_pred))

0.7640449438202247

In [27]:
#Test with no family data, Random Forest

In [28]:
train_forest = RandomForestClassifier(n_estimators=10, max_depth=tree_depth)
train_forest.fit(X_train, y_train.values.ravel())
train_forest.predict(test_set)

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0], dtype=int64)

In [29]:
y_pred = train_forest.predict(X_test)
print(precision_recall_fscore_support(y_test, y_pred, average='binary'))

(0.7413793103448276, 0.6323529411764706, 0.6825396825396826, None)

In [30]:
print(confusion_matrix(y_test,y_pred))

[[95 15]
 [25 43]]

In [31]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.86      0.83       110
           1       0.74      0.63      0.68        68

    accuracy                           0.78       178
   macro avg       0.77      0.75      0.75       178
weighted avg       0.77      0.78      0.77       178

In [32]:
print(accuracy_score(y_test, y_pred))

0.7752808988764045